/******************************************
/* CSS
/*******************************************/

* {
  box-sizing: border-box;
  color: whitesmoke;
  font-family: "Orbitron";
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}

header {
  background-color: rgb(5, 5, 5);
  border-bottom: 1px solid rgba(99, 18, 18);
}
.nav {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 300;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.name:hover {
  color: rgba(99, 18, 18);
  transition: 0.3s ease;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding: 1rem 0 0 2rem;
}
.nav-item {
  list-style: none;
  display: flex;
}
.nav-link {
  text-decoration: none;
}
.nav-link:hover {
  color: rgba(99, 18, 18);
  transition: 0.3s ease;
}
.banner {
  height: 32rem;
  background-image: url(../media/moon.jpg);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  background-color: rgba(5, 5, 5, 0.3);
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: 1.5rem;
  color: rgb(249, 250, 250);
}
h3 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 2rem;
  line-height: 2rem;
  box-shadow: 0 1px 3px #ffff;
}

h2 {
  text-align: center;
  padding: 1rem;
  text-shadow: 2px 2px rgb(10, 10, 9);
}

.input {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.input-field {
  color: black;
}
.date {
  display: flex;
  flex-direction: column;
}
.mid {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../media/nightsky.jpg);
  background-size: cover;
}
.mid > h4 {
  margin: 0;
  width: 50%;
  padding: 10rem 0 4rem 10rem;
  border: none;
  text-align: center;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  color: whitesmoke;
}

label {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 1rem;
}

.second {
  background-color: rgb(0, 0, 0);
  padding: 0 2rem 2rem;
}

.rocket {
  margin-right: 3rem;
  height: 15rem;
  width: 10rem;
}

img {
  width: 40rem;
  height: auto;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button {
  color: whitesmoke;
  height: 3rem;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  border: 1px solid rgba(99, 18, 18);
  background-color: rgba(99, 18, 18);
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  margin-top: 2.5rem;
}

button:hover {
  background-color: rgb(193, 35, 35);
  transition: 0.3s ease-in-out;
  color: white;
}

.divider {
  position: absolute;
  top: 2;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 160px;
}

.divider .shape-fill {
  fill: rgb(4, 3, 3);
}
