@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/resets";
@use "../../styles/partials/fonts";

.hero {
  height: 30rem;
  background-image: url(../src/assets/images/moon.jpg);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  background-color: rgba(5, 5, 5, 0.3);
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: 1.5rem;
  color: $secondary-white;
}

.about {
  font-size: 1rem;
}

.mid {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../src/assets/images/nightsky.jpg);
  background-size: cover;
}
.mid > h4 {
  margin: 0;
  width: 60%;
  border: none;
  text-align: center;
  letter-spacing: 0.3rem;
  line-height: 2.5rem;
  color: $secondary-white;
}

.divider {
  position: absolute;
  top: 2;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 160px;
}

.divider .shape-fill {
  fill: rgb(4, 3, 3);
}
